* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

body {
    color: beige;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo {
    position: relative;
    font-size: 25px;
    color: rgb(241, 240, 240);
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;

}

.navbar a {
    font-size: 18px;
    color: rgb(241, 240, 240);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));


}

.navbar a:hover {
    color: rgb(243, 61, 61);
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(./images/Blue\ and\ Yellow\ Gradient\ Modern\ Desktop\ Wallpaper.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;

}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color: rgb(243, 61, 61);
}

.home-content h3:nath-of-type(2) {
    margin-bottom: 30px;
    /* opacity: 0; */
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;

}

.home-content p {
    font-size: 16px;
    margin: 20px 0;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;

}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(243, 61, 61);
    border-radius: 50%;
    font-size: 20px;
    color: rgb(243, 61, 61);
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.home-sci a:hover {
    background: rgb(243, 61, 61);
    color: #1f242d;
    box-shadow: 0 0 20px rgb(243, 61, 61);
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: rgb(243, 61, 61);
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(243, 61, 61);
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px rgb(243, 61, 61), 0 0 25px rgb(243, 61, 61);
}

.btn-box:hover {
    background: rgb(243, 61, 61);
    color: rgb(243, 233, 233);
    box-shadow: 0 0 20px rgb(243, 61, 61);
}
/* ----------about---------- */
.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;


}

.img{
    max-width: 450px;
    height: auto;
    width: 100%;
    border-radius: .5rem;
    animation: floatImage 4s ease-in-out infinite;
    border-radius: 8px;
    flex-wrap: wrap;
    margin-left: 10px;

}
.about-text{
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0.5rem 0 1.4rem;

}
.heading{
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 1rem;
    
    color: #ecedf0;
}
.about h4{
    color: rgb(243, 61, 61);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.about p{
    color: #e9f1ff;
    /* font-size: 1.2rem; */
    margin-bottom: 1rem;
    font-family: poppins;
} 
.about .btn-box{
    
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
}
/* -----------services---------- */
#services{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
    background-color: black;
}
.sub-title{
    
}
.container{
    padding: 90px;
}

/* ----------keyframes---------- */
@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-1.4rem);
    }
    100%{
        transform: translateY(0);
    }
}

    


@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}